*{margin:0;padding:0; outline:0;}
body{
	font-size:14px;
	line-height:25px;
	margin-bottom:10px;
	color:#000000;
	}

.clear{overflow:hidden;}
.para p{
    text-align: justify;

}
.unknown p{
text-align:left;
}

.list ul{
	padding:0px 0 20px 10px;
	margin:0px;
	list-style:none;
}

.list ul li{
margin:0 0 10px 0;
padding:0 0 0 20px;
background:url(../images/bullet.png) no-repeat left top;
}